.header {
  width: 100%;
  padding: 0.5rem;
  color: white;
}

.city-card {
  max-width: 540px;
  max-height: 240px;
  overflow: hidden;
  cursor: pointer;
}

.city-card img {
  transition: all 0.3s linear !important;
}

.city-card:hover img {
  transform: scale(1.1);
}

.hotel-card {
  min-width: 0;
  padding: 1rem;
  border: 1px solid gray;
  border-radius: 5px;

  .star {
    text-align: left;
    display: block !important;
    padding: 0px !important;
    color: rgb(201, 201, 0);
  }

  &__details {
    display: flex;
    justify-content: flex-end;
    gap: 5px;

    &-comment {
      font-size: 12px;
    }

    &-rating {
      padding-right: 8px;
      padding-left: 8px;
      background-color: #003580;
      color: white;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-more {
      &--svg-container {
        padding: 1rem;
        display: flex;
        justify-content: space-between;

        svg {
          font-size: 20px;
        }
      }
    }

    &-btn-select-container {
      display: flex;
      justify-content: flex-end;
    }

    @media only screen and (max-width: 900px) {
      justify-content: flex-start;
    }
  }
}

.hotel-header {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.hotel-services {
  display: flex;
  flex-direction: column;

  & .detail {
    margin-bottom: 10px;
    display: flex;
    gap: 10px;
  }
}

.hotel-details {
  display: flex;
  gap: 10px;
}

.hotel-rating {
  padding-right: 8px;
  padding-left: 8px;
  background-color: #003580;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hotel-comments {
  & .comment {
    .header {
      display: flex;
      gap: 10px;
    }

    .name {
      color: rgb(190, 190, 190);
    }
  }
}

.reservation-card {
  position: sticky !important;
  top: 10px;
}

.reserve-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
}

.oldPrice {
  color: rgb(207, 207, 207);
  text-decoration: line-through;
}

.error-outline {
  border-color: red !important;
}

.error {
  color: red;
}

.credit-card {
  box-sizing: border-box;
  width: 100%;
  height: 200px;
  padding: 1.5rem;
  background-color: rgb(151, 151, 151);
  position: relative;
  font-size: 18px;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 5px;

  .card-no {
    color: white;
    font-weight: bold;
  }

  .end-date {
    margin-left: 50px;
  }

  .type {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
}

.payment-form {
  padding: 1rem;
  overflow-y: auto;
  max-height: 200px;
}
